.feed{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px 150px;
    align-items: center;
    justify-content: center;
}
.feed> .disabled{
    display: none;
}
.feeds{
    display: flex;
    flex: 0;
    flex-direction: column;
    padding: 30px 150px;
    align-items: center;
    justify-content: center;
    width: 70%;
}