.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left {
  display: flex;
  justify-content: space-evenly;
}

.header_input {
  display: flex;
  align-items: center;
  border-radius: 999px;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
}

.header_input > input {
  border: none;
  outline-width: 0;
  background-color: transparent;
}

.header_left > img {
  border-radius: 50%;
  height: 40px;
}

.header_center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header_option > .MuiSvgIcon-root {
  color: grey;
}

.header_option-active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header_option-active {
  border-bottom: 4px solid #2e81f4;
}

.header_option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header_option {
  display: flex;
  padding: 0 30px;
  align-items: center;
  cursor: pointer;
}

.header_option:hover {
  background-color: #eff2f5;
  padding: 0 30px;
  align-items: center;
  border-radius: 10px;
  border-bottom: none;
}

.header_info {
  display: flex;
  align-items: center;
}
.header_info > h4 {
  margin-left: 10px;
  margin-right: 3px;
}
.header_right {
  display: flex;
}
.more-options{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: max-content;
  float: right;
  
}
.more-options > ul{
  list-style: none;
}
.more-options > ul > .more-options-li{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}
.more-options > ul > .more-options-li > li:hover{
  background-color: #eff2f5;
  border-radius: 7px;
}
.more-options > ul > .more-options-li > li{
  margin-right: 15px;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: medium;

}
