.trusted{
    display: flex;
    background-color: #fff;
}
.trusted-left{
    border-right: 1px solid black;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.trusted-left > .option{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 13px 7px 0px 7px;
    
}
.trusted-left > .option:hover{
    background-color: #eff2f5;
    border-radius: 7px;
    cursor: pointer;
}
.trusted-left  > .option > .MuiSvgIcon-root{
    color: #2e81f4;
    padding-left: 15px;
}
.trusted-left > .option > h3{
    text-decoration: none;
    padding: 10px;
    list-style: none;
    margin: 15px 10px 0px 10px;
    
}
.i-input{
    
    background-color: #eff2f5;
    padding: 15px;
    margin: 10px;
    border-radius: 999px;
    height: max-content;
    outline: none;
    border: none;
    
}
.i-input>.label2{
    color: red
}
.i-input>input{
    width: 250px;
}
.i-input> .text {
    padding: 1px;
    margin: 1px;
    border-radius: 999px;
    outline: none;
    border: none;
    background-color: #eff2f5;
}

.trusted-right{
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    height: max-content;
    position: relative;
    
}
.trusted-right > .trusted-right-row{
    display: flex;
    flex-direction: column;
    

}
.r-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.trusted-right > .trusted-right-row > .r-side > .label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    flex: 1;
}
.trusted-right-row >.label>  .username{
    margin-right: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.trusted-right-row >.label > .password{
    margin-right: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.trusted-right-row > .label> .phoneNumber{
    margin-right: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.trusted-right-row > .label > .email{
    margin-right: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.t-input > .text{
    padding: 10px;
    margin: 10px;
    border-radius: 999px;
    outline: none;
    border: none;
    background-color: #eff2f5;
}
.trusted-right > .trusted-right-row > input{
    padding: 15px;
    border-radius: 999px;
    border: 1px solid;
    font-size: small;
    outline-width: 0;
}
.trusted-right > .trusted-right-row > .btn1{
    background-color: #07c416;
    
    padding: 10px;
    color: #eff2f5;
    font-weight: 800;
    margin: 0px 0px 5px 50px;
    border-radius: 20px;
    height: max-content;
    
}
.trusted-right > .trusted-right-row > .btn2{
    background-color: #2762aa;
    
    padding: 10px;
    color: #eff2f5;
    font-weight: 800;
    margin: 0px 0px 0px 50px;
    border-radius: 20px;
    height: max-content;
    
}
.trusted-right > .trusted-right-row > .btn3{
    background-color: #ff1b1b;
    
    
    padding: 10px;
    color: #eff2f5;
    font-weight: 900;
   
    margin: 10px 0px 0px 50px;
    border-radius: 20px;
    
    height: max-content;
    
}
.contacts1{
    display: flex;
    
    padding: 10px;
    color: black;
    font-weight: 800;
    margin: 0px 0px 0px 50px;
    border-radius: 20px;
    height: max-content;
    position: absolute;
    bottom: -100%;
    left: 38%;
}
.back-data{
    position: absolute;
    bottom: -100%;
    left: 2%;
}
.trusted-people{
    display: flex;
    flex-direction: column;
    
}